{% load i18n groceries_tags %}

<turbo-stream action="remove" target="category-{{ object_id }}">
  <template></template>
</turbo-frame>

{% comment %} Re-enable category add form if category count fall below limit. {% endcomment %}
{% if new_category_add_form %}
  <turbo-stream action="replace" target="category-add">
    <template>
      {% include "groceries/_category_add.html" with form=new_category_add_form include_turbo_stream=False %}
    </template>
  </turbo-stream>
{% endif %}

<turbo-stream action="update" target="messages">
  <template>
    <li class="info">{% translate "Deleted" %} "{{ category }}"</li>
  </template>
</turbo-stream>
