{% load i18n %}

{% if include_turbo_stream %}
<turbo-stream action="replace" target="category-{{ category.id }}-item-add">
  <template>
{% endif %}

<turbo-frame id="category-{{ category.id }}-item-add">
  {% if category.is_item_limit_exceeded %}
    <p class="info">
      {% blocktranslate with max_items=category.max_items%}Cannot add more than {{ max_items }} items.{% endblocktranslate %}
    </p>
  {% else %}
    <h2>{% translate "Add item" %}</h2>

    <form method="post" action="{% url 'item-add' category.id %}" id="category-{{ category.id }}-item-add">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        {{ field.errors }}
        {{ field }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      {% endfor %}
      <button>{% translate "Add" %}</button>
    </form>
  {% endif %}
</turbo-frame>

{% if include_turbo_stream %}
  </template>
</turbo-stream>
{% endif %}
